@font-face {
  font-family: easy;
  src: url(./fonts/er.woff);
  font-weight:normal;
}

@font-face {
  font-family: easy;
  src: url(./fonts/erb.woff);
  font-weight:bold;
}

#text{
margin-top:1rem;
}

.easy{
font-family:easy;
font-size:2rem;
margin-top:1rem;
margin-bottom:30rem;
}

.wrapper{
max-width:52rem;
margin:auto;
}
