/* @import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');

@font-face {
  font-family: easy;
  src: url(./fonts/er.woff);
  font-weight: normal;
}

@font-face {
  font-family: easy;
  src: url(./fonts/erb.woff);
  font-weight: bold;
}

@font-face {
  font-family: "Iran Sans";
  src: url(./fonts/IRANSansWeb-5-5.woff2);
  font-weight: normal;
}

body {
/*   background-image: url('./img/bg.jpg'); */
  background-color:black;
  background-size: cover;
  height: 100vh;
  font-family: "Merriweather";
}

.easyoutput {
  font-family: "Merriweather";
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 30rem;
}

.mainwrapper {
  max-width: 50rem;
  margin: auto;
  padding: 0;
/*   background-color: #bbb; */
}

.button {
  font-family: "Merriweather";
  background-color: transparent;
  border: 1px solid #444;
  padding: 0 0.5rem;
  margin: 0.2rem 0.25rem;
  outline: none;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

label{
  margin: 0.2rem 0.25rem;
  font-size: 0.75rem;
}

.toolswrapper{
  padding: 0.5rem;
}

#textareainput {
  margin: 0;
  padding: 0;
  display: none;
}

.toolswrapper {
  background-color: #ffffff;
}
