@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
/*   background-image: url('./img/bg.jpg'); */
  background-color:black;
  background-size: cover;
  height: 100vh;
  font-family: "source Sans pro";
  font-family: "Zilla Slab";
  font-family: "noto sans";
}

.easyoutput {
  font-family: "source Sans pro";
  font-family: "Zilla Slab";
  font-family: "noto sans";
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 30rem;
  /*text-align: justify;*/
}

.mainwrapper {
  max-width: 50rem;
  margin: auto;
  padding: 0;
/*   background-color: #bbb; */
}

.button {
  font-family: "source Sans pro";
  font-family: "Zilla Slab";
  font-family: "noto sans";
  background-color: transparent;
  border: 1px solid #444;
  padding: 0 0.5rem;
  margin: 0.2rem 0.25rem;
  outline: none;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

label{
  margin: 0.2rem 0.25rem;
  font-size: 0.75rem;
}

.toolswrapper{
  padding: 0.5rem;
}

#textareainput {
  margin: 0;
  padding: 0;
  display: none;
}

.toolswrapper {
  background-color: #ffffff;
}
