@font-face {
  font-family: easy;
  src: url(./fonts/er.woff);
  font-weight:normal;
}

@font-face {
  font-family: easy;
  src: url(./fonts/erb.woff);
  font-weight:bold;
}

body {
background-image:url('./img/bg.jpg');
background-size: cover;
height:100vh;
}

#text{
margin-top:1rem;
}

.easy{
font-family:easy;
font-size:2rem;
margin-top:1rem;
margin-bottom:1rem;
padding:1rem;
padding-bottom:30rem;
}

.wrapper{
max-width:50rem;
margin:auto;
padding:0;
background-color:#bbb;
}

.button {
font-family:easy;
background-color:transparent;
border:1px solid #444;
padding:0 0.75rem;
margin:0.2rem 0.5rem;
outline:none;
border-radius:0.5rem;
font-size:1rem;
}
